<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm" class="form-container">
    <mat-form-field class="full-size-w">
      <input
        matInput
        type="text"
        placeholder="Title"
        name="title"
        ngModel
        required
        #title="ngModel"
      />
      <mat-error *ngIf="title.invalid">Please enter a post title</mat-error>
    </mat-form-field>
    <mat-form-field class="full-size-w">
      <textarea matInput rows="6" name="content" ngModel required #content="ngModel"></textarea>
      <mat-error *ngIf="content.invalid">Please enter a post title</mat-error>
    </mat-form-field>
    <mat-card-footer>
      <button mat-raised-button color="primary" type="submit" class="btn-primary" [disabled]="!postForm.valid">
        Save Post
      </button>
    </mat-card-footer>
  </form>
</mat-card>
